
body {background-color: rgb(210, 206, 247);}
h1 {color:rgb(12, 1, 15);}
h1 {text-align: center;}
p {border: 1px steelblue;  ;}
h2 {text-align: center;}
p {text-align:justify}
p {color:rgb(11, 1, 14);}
p {font-size: 18px}
h1 {font-size: 35px;}
p{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
h2{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}